@import 'assets/sass/custom-variables';
@import "~bootstrap/scss/bootstrap";
@import 'assets/sass/form-control.scss';
@import 'assets/sass/layout.scss';
@import 'assets/sass/sales.scss';
@import 'assets/sass/common.scss';
@import 'assets/sass/suspense-loader.scss';

.auth {
    background-color: #f5f6fa;
    height: 100vh;
    .register-page {
        .auth-right {
            padding: 4rem 5rem 0.75rem 6.5rem;
        }
    }
    .auth-right {
        padding: 4rem 4rem 0.75rem 4rem;
        box-shadow: -4px 16px 24px rgba(#6e71a8, 0.04);
    }
    .btn {
        width: 100%;
        height: 45px;
    }
    .title {
        .ant-select-selector {
            height: calc(1.5em + 1.38rem + 2px);
            padding: 7px 5px 8px 17px;
        }
    }
}


