$primary: #261d4c;
$secondary: #6c757d;
$light-black: rgb(27, 36, 48);
$red: #ed3838;
$secondary-light: #e9faf3;
$default: #505972;
$auth-bg: #f5f6fa;
$dropdown-bg: #f9f9fb;
$purple-light: #6e71a8;

$logo-bg: rgb(35, 47, 62);
$nav-hover-bg: rgba(0, 0, 0, 0.08);
$nav-open-submenu-bg:rgb(27, 36, 48);
$nav-color: #d8d4e9;
$profile-border: #cdd3de;
$dropdown-default-shadow: #6e85a8;


