$primary: #261d4c;
$secondary: #6c757d;
$purple: #3d2893;
$red: #ed3838;
$green: #1ac783;
$secondary-light: #e9faf3;
$default: #505972;
$auth-bg: #f5f6fa;
$dropdown-bg: #f9f9fb;
$purple-light: #6e71a8;

$logo-bg: #382083;
$nav-hover-bg: #483d9d;
$nav-open-submenu-bg: #372082;
$nav-color: #d8d4e9;
$nav-border-bottom: #d9e0ec;
$profile-border: #cdd3de;
$dropdown-default-shadow: #6e85a8;

$input-color: #67748b;
$input-placeholder-color: #adb6c6;
$input-line-height: 1.188;
$input-border-color: #e9edf4;
$input-bg: #fafbff;
$input-focus-bg: #ffffff;
$input-height: calc(1.5em + 1.38rem + 2px);
$input-focus-border-color: #8a77ff;
$input-focus-box-shadow: none;

$hr-border-color: #e7edf1;

$input-btn-padding-y: 0.75rem;

$graph-text: #949aab;
$pagination-color: #202635;
$pagination-next-bg: #d1f4e6;
$btn-secondary-light-bg: #e8f9f2;
$table-expanded-bg: #ebe9f4;
$danger-light: #f13131;
$tabs-bg: #eaecf4;
$tabs-color: #8691a6;
$tabs-border-color: #d4d8e1;
$input-number-bg: #fcfdfe;
$card-bg-light: #fafafc;

$ui-group-popup-bg: #fbfbfd;
